*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #EBE2E0;
}


#name{
    text-align: end;
    text-shadow: 3px 3px #EBE2E0;
    margin-right: 30px;
    margin-top: 10px;
}
#nav_bar{
    border-radius: 25px;
    height: auto;
    width: auto;
    padding: 10px;
    margin: 7px;
    box-sizing: border-box;
    background-color: crimson;
    box-shadow: 10px 10px 10px 10px gray;
}
#nav_options{
    margin: 5px;
    font-weight: bold;
    display: flex;
}
.options{
    text-decoration: none;
    padding: 0px 100px;
    color: #EBE2E0;
    font-size: 22px;
}


main{
    margin: 4vh;
}
.top{
    display: flex;
    margin: 0vw 8vw;
}
#heading{
    text-align: start;
    background: linear-gradient(to right, #EBE2E0, #d3bdb8);
    width: 40vw;
    font-size: 60px;
    padding: 10px;
    margin: 2px;
    border-radius: 20px;
}
#description{
    font-family: sans-serif;
    margin: 5px;
    padding: 5px;
    width: 30vw;
    font-size: 25px;
}
@media screen and (max-width: 990px){
    #heading{
        width: 80vw;
    }
    #description{
        width: 70vw;
    }
}
.image{
    width: 350px;
    height: 200px;
    object-fit: cover;
    margin: 1vw;
    border-radius: 20px;
}
.image_box{
    position: relative;
}
.image2{
    position: absolute;
    left: 11vw;
    top: 4vw;
    z-index: -1;
}


.search_box{
    padding: 3vw 7vw;
    margin: 15px;
}
.search_box > form{
    display: flex;
    gap: 10px;
}
#search_input{
    width: 20vw;
}
.search{
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}


#menu_start > h3{
    margin: 10px;
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(73, 73, 73);
}
#menu{
    display: flex;
    gap: 25px;
    margin: 10px;
    width: 100%;
    overflow: clip;
}
#menu:hover{
    overflow: auto;
}
.food_menu{
    height: 15vh;
    border-radius: 30px;
}


#restaurant_start > h3{
    margin: 10px 10px;
    margin-top: 55px;
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(73, 73, 73);
}
#restaurant{
    display: flex;
    gap: 35px;
    margin: 15px;
    width: 100%;
    overflow: clip;
}
#restaurant:hover{
    overflow: auto;
}
.restaurant_food{
    height: 30vh;
    border-radius: 30px;
}
a{
    text-decoration: none;
    color: rgb(73, 73, 73);
}
a > .restaurant_info{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    margin: 2px;
}
.brand_rating{
    display: flex;
    align-items: end;
    gap: 4vw;
}


#membership{
    background-color: rgb(22, 22, 22);
    margin: 50px;
    border-radius: 35px;
    text-align: center;
    padding: 30px;
}
#membership > h3{
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px #999999;
}
.membership_name > img{
    height: 10vh;
}
.saving{
    color: #F2CA46;
    font-size: 30px;
    font-weight: bold;
}
.benefits_text{
    color: #a5a5a5;
    font-size: 50px;
    font-weight: bold;
}
.benefits_getting{
    color: white;
    display: flex;
    justify-content: center;
    gap: 10vw;
    font-size: 20px;
}


#mobile_app{
    background: linear-gradient(to right, white, crimson, white);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding: 10px;
}
@media screen and (max-width: 990px) {
    #nav_options{
        flex-direction: column;
        margin: 0px
    }
    .top{
        flex-direction: column;
    }
    #mobile_app{
        flex-direction: column;
    }
    .image_box .image{
        width: 250px;
        height: 200px;
    }
}
.download_here{
    text-align: center;
}
.download_here img{
    height: 5vh;
    margin-top: 20px;
}
.download_text > h3{
    font-size: 5vh;
    color: white;
    margin-bottom: 10px;
}
.download_text > p{
    font-size: 2.5vh;
    text-align: center;
}
.mobile > img{
    height: 30vh;
}


footer > form{
    text-align: center;
}
.bottom{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
footer > p{
    font-size: 2vh;
}
